@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .header__signin{
  text-align: center;
  margin-bottom: 50px;
}

.header .box{
  width: 250px;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #DEE1E3;
  font-size: 11px;
  color: #F8F8F8;
}

.header .header__forgot-pw{
  text-align: right;
  font-size: 11px;
  color: #E22A3F;
  font-weight: bold;
  margin-bottom: 5px;
}

.header .header__remember-me{
  display:flex;
}

.header .header__check-box-text{
  font-size: 12px;
  font-weight: bold;
  color: #757575;
}

.header{
  margin-bottom: 30px;
}

.main{
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main .button{
  height: 35px;
  border-radius: 30px;
  box-shadow: none; 
}

.button.buttons__sign-in-btn{
  width: 250px;
  background-color: #E22A3F;
  color: white;
}

.button.others__other-btn{
  width: 120px;
}

.main .buttons__others{
  display: flex;
  justify-content: space-between;
}

.others__other-btn.facebook{
  background-color: #475A95;
  color: white;
}

.others__other-btn.twitter{
  background-color: #5DA1F1;
  color: white;
}

.text__or{
  font-size: 13px;
  font-weight: bold;
}

.nav{
  width: 250px;
  display: flex;
  flex-direction: column;
}

.nav .text{
  font-size: 12px;
  color: #757575;
  font-weight: bold;
}
.nav .text__answer{
  color: #E22A3F;
}

