body, html{
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #1EAC9C;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rect{
  width: 15px;
  height: 50px;
  background-color: white;
  margin: 5px;
}

#first{
  animation: 1.5s scaleUpDownRect infinite ease-in-out;
}

#second{
  animation: 1.5s scaleUpDownRect 0.2s infinite ease-in-out;
}

#third{
  animation: 1.5s scaleUpDownRect 0.4s infinite ease-in-out;
}

#fourth{
  animation: 1.5s scaleUpDownRect 0.6s infinite ease-in-out;
}

#fifth{
  animation: 1.5s scaleUpDownRect 0.8s infinite ease-in-out;
}

@keyframes scaleUpDownRect{
  0%, 45%, 100%{
    transform: none;
  }
  20%{
    transform: scale(1, 3)
  }
}
