.more-body .header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  background-color: white;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.more-body {
  padding: 10px 0px;
  padding-top: 70px;
}

.more-body .header,
.more-body .status-bar {
  padding: 0px 20px;
}

.more-body {
  min-height: 120vh;
}

.more-body .more {
  margin-top: 50px;
  padding: 0px 10px;
}

.more .more__kakaopay {
  height: 60px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  margin-top: 15px;
  color: #181818;
}

.more .kakaopay__column:first-child {
  background-color: #fcfcfc;
  border-radius: 15px;
  padding: 8px 10px;
}

.more .kakaopay__kakao span,
i,
.more .kakaopay__column:last-child span {
  font-size: 14px;
  font-weight: bold;
}

.more .kakaopay__remain {
  font-size: 13px;
}

.more .kakaopay__separate {
  color: #dbdbdb;
  font-weight: 100;
}

.more .kakaopay__send,
.more .kakaopay__pay {
  cursor: pointer;
}

.more .more__btn-list,
.more .more__suggestions-list {
  margin: 30px 0px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.more__btn-list .more__btn,
.more .suggestion {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.more__btn .more__btn-title {
  font-size: 14px;
  margin-top: 15px;
}

.more .more__suggestions {
  border-top: 1px solid #f7f7f7;
  padding-top: 20px;
}

.more .more__title {
  opacity: 0.8;
  margin-bottom: 20px;
}

.suggestion .suggestion__title {
  font-size: 12px;
  margin-top: 15px;
}

.suggestion .suggestion__icon {
  background-color: #fce006;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.suggestion__icon i {
  font-size: 28px;
  color: white;
}
