body, html{
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 250px;
  height: 60px;
  background-color: #7F8C8D;
  border-radius: 50px;
  border: none;
  font-size: 28px;
  color: white;
  transition: all 0.3s ease-in-out
}

.btn:hover{
  background-color: #95A5A6;
  box-shadow: 3px 3px 3px rgb(155, 155, 155);
}

.image{
  padding: 0;
  margin: 20px;
  transition: all 1s ease-in-out;
}

.image:hover{
  border: 5px solid black;
  transform: rotate(135deg) scale(0.6, 0.6);
}
